/* This is the styling document for my popup window. */

@import url('https://fonts.googleapis.com/css2?family=LXGW+Marker+Gothic&family=LXGW+WenKai+Mono+TC&display=swap');

:root {
    --text-font: 'LXGW Marker Gothic', sans-serif;
    --number-font: 'LXGW WenKai Mono TC', monospace;


    --black: #171717;
    --white: #f7f7f7;
    --yellow: #ffe14b;
    --orange: rgb(249, 121, 71);

    --spacing: 1.5rem;
    /* --button-width: calc(10*var(--spacing)); */
    --p-size: calc(0.9*var(--spacing));

    --popup-width: calc(16*var(--spacing));
    --gutter: calc(1*var(--spacing));

    --transition: all 0.2s ease-in-out;
    --border: 1.5px solid var(--black);
    --border-radius: calc(4*var(--spacing));
}

body {
    background: var(--white);
    color: var(--black);
    font-family: var(--text-font);
    font-size: var(--p-size);
    text-align: center;

    padding: var(--gutter);
    inline-size: var(--popup-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter);
}

button {
    font-size: var(--p-size);
    border-radius: var(--border-radius);
    border: var(--border);
    width: var(--button-width);
    filter: drop-shadow(4px 4px var(--black));
    padding-block: calc(0.5*var(--gutter));
    padding-inline: var(--gutter);

    &:hover,
    &.selected {
        transform: translateX(4px) translateY(4px);
        filter: drop-shadow(0px 0px var(--black));
        transition: var(--transition);
    }

    &:disabled {
        opacity: 0.5;
        filter: grayscale(100%);

        &:hover {
            transform: none;
        }

    }
}

#startbutton {
    background: var(--yellow);
}

#cancelbutton {
    background: var(--orange);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    inline-size: 100%;
}

.time-choices {
    display: flex;
    flex-direction: row;
    gap: var(--gutter);
}

.timebutton {
    font-family: var(--number-font);
    background: var(--white);
}

#timer {
    font-size: calc(3*var(--p-size));
}