/* This is the styling document for my popup window. */

body {
    background: rgb(204, 204, 204);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    inline-size: 300px;
}

button {
    color: black;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;

    &:hover {
        opacity: 0.8;
    }
}

#startbutton {
    background: rgb(22, 207, 121);
}

#cancelbutton {
    background: rgb(244, 84, 90);
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.timebutton {
    background: white;
    color: black;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;

    &.selected {
        background: #ffffff;
        border: 2px solid #222222;
        font-weight: 600;
    }
}
.time-choices {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

#timer {
    font-size: 40px;
    font-weight: bold;
}

button:disabled {
    opacity: 0.5;
    filter: grayscale(100%);
}