/* This is the styling document for my popup window. */

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

* { color: blue !important;}

#paragraph-counter {
    position: fixed;
    background: violet;
    padding: 100px;
    font-size: 50px;
}